
  
  
  
  
  
  
  
  <div id="navigation-bar" >
  <a   href="/" class="home" alt="Home" style="text-decoration: none;">

    <span class="material-symbols-outlined myclass">
      home
    </span>
   
    <span class="homie">Home</span>
  </a>
  
  <div class="contact" style="flex-wrap: wrap;">
    <span style=" color: rgb(53, 175, 28);">Contact  </span>
    <span style=" color: rgb(53, 175, 28);"> : 9628465495,</span><span style=" color: rgb(53, 175, 28);">9307159365</span>
   <div class="call-icon" alt="call-icon">
    <span class="material-symbols-outlined">
      call
      </span>



      <!-- <span class="calls">Call</span> -->
  </div></div>

<!-- ////// -->
      <div class="clickToRepair">
          <a href="/admin" class="clickToRepair" style="   text-decoration: none; min-width: 140px;  color: inherit; border: black 2px;">Click To Repair</a>
  </div>

  <!-- //// -->
  <div class="right-nav">


          <% if(currentUser){ %>
       
        <div class="photos"alt="photos">
          <a href="/users/logout" class="signu" style="   text-decoration: none;   color: inherit; ">log out</a>
  </div>
      <% } %>
   <% if(!currentUser) { %>
  <div class="share" alt="share-link">
    
<a href="/users/login" class="ma" style=" text-decoration: none;   color: inherit; "> Login</a>
  </div>
  <div class="photos"alt="photos">
          <a href="/users/signup" class="signup" style="  text-decoration: none;   color: inherit; ">Sign up</a>
  </div>
      <% } %>
 
</div>

<div class="right-nav1" style="margin-left: 50px;;">

  <!-- Hamburger Icon -->
  <div class="hamburger" id="hamburger">
    ☰
  </div>

  <!-- Hamburger Menu -->
  <div class="hamburger-menu" id="hamburgerMenu">

    <% if (currentUser) { %>
      <a href="/users/logout" class="menu-item">Log out</a>
    <% } %>

    <% if (!currentUser) { %>
      <a href="/users/login" class="menu-item">Login</a>
      <a href="/users/signup" class="menu-item">Sign up</a>
    <% } %>

    <!-- Future buttons go here -->
    <!-- <a href="/profile" class="menu-item">Profile</a> -->

  </div>

</div>
<script>
  const hamburger = document.getElementById("hamburger");
  const menu = document.getElementById("hamburgerMenu");

  hamburger.addEventListener("click", () => {
    menu.classList.toggle("show");
  });

  document.addEventListener("click", (e) => {
    if (!hamburger.contains(e.target) && !menu.contains(e.target)) {
      menu.classList.remove("show");
    }
  });
</script>

  </div>

