<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Nanum+Gothic&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css">
<!-- home font -->

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<!-- /////////////// -->
  <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
/>

<link
  rel="stylesheet"
  href="https://unpkg.com/leaflet-routing-machine@3.2.12/dist/leaflet-routing-machine.css"
/>
<!-- /////////// -->
<style>
  /* .mainContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
   
    row-gap:30;
    
  } */
  /* .no-shadow  {
    border: none;
  }
  .btn-outline-primary.no-shadow:hover {
    background-color: transparent;
    border-color: #0d6efd;
    color: #0d6efd;
  } */
  .modal-footer {
    display: flex;
    justify-content: center;
  }
</style>

  <title>RepaiNow - Mobile Repair Services</title> 
 <link rel="icon" type="image/png" sizes="520x520" href="images/RNLogo.png">
</head>
<body>
  
  <!-- </div>
  </div>  -->
<!-- script -->
 <%- include("../includes/navbar.ejs") %>
<div> 
 <%- include("../includes/flash.ejs") %> <%- body %></div>
 <%- include("../includes/footer.ejs") %>
 


<script src="/js/probList.js"></script>
<script src="/js/product.js"></script>
<script src="/js/anshuWeb.js"></script>
<script src="/js/script.js"></script>

 </body>
</html>